header {
    margin-top: 5rem;
    height: cal(100vh -5rem);
    display: grid;
    place-items: center;
    background: var(--color-white);
    transition: var(--transition);
}

.tools__container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.tools__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tools__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tools__image {
    height: fit-content;
    max-height: 40rem;
    overflow: hidden;
    transition: var(--transition);
}

.tools__image:hover {
    border-width: 0;
    margin: -0.5rem;
}

.tools__cards {
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 1.5rem;
    justify-content: center;
}

.card.tools__card {
    text-align: center;
    width: fit-content;
    background-color: var(--color-light);
}

.card.tools__card:hover {
    background: var(--color-white);
    border: 1px solid var(--color-light);
}

.tools__card-icon {
    font-size: 1.3rem;
    color: var(--color-black);
    background: var(--color-white);
    border-radius: var(--border-radius-3);
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    transition: var(--transition)
}

.card.tools__card:hover .tools__card-icon {
    background: var(--color-primary);
    color: var(--color-white)
}

.card.tools__card h5 {
    margin: 1.2rem 0;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    .tools__left {
        display: none;
    }
    .tools__container {
        grid-template-columns: 1fr;
    }

    .tools__right h2 {
        text-align: center;
    }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    
    .tools__cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .tools__right .btn {
        margin-top: 2rem;
    }
}